<div class="content" role="main">
  <div class="container-fluid">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3>Available Products </h3><button class="btn btn-outline-primary rounded-circle" (click)="open(addItem)"><i
            class="fa fa-plus"></i></button>
      </div><br>
        <!-- <div class="row">
          <div class="col-sm-3" *ngFor="let t of products">
            <div class="card">
              <div class="card-body">
                <img style="width: 100px;" [src]="t.imageUrl" alt="someimage" srcset="">
                <p>{{t.title}} {{t.price}}/lb</p><br>
                <p>{{t.category}}</p>
              </div>
            </div>
          </div>
        </div> -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="text-nowrap">
              <th>ID</th>
              <th>Price</th>
              <th>Category</th>
              <th>Image</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-nowrap" *ngFor="let t of products">
              <td>{{t.id}}</td>
              <td>{{t.price}}</td>
              <td>{{t.category}}</td>
              <td class="rounded-circle"><img style="width: 50px;" [src]="t.imageUrl" alt="" srcset=""></td>
              <td>{{t.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #addItem let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-additem">Add Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="pdtForm">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" value="" placeholder="ID" formControlName="id" required />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" value="" placeholder="title" formControlName="title"
          required />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="password" value="" placeholder="0.00" formControlName="price"
          required />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" value="" placeholder="category" formControlName="category"
          required />
      </div>
      <div class="form-group">
        <label for="url">Image Url</label>
        <input type="text" class="form-control" id="url" value="" placeholder="Image url" formControlName="imageUrl"
          required />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="modal.close()">Save</button>
  </div>
</ng-template>