<div class="content" role="main">
  <div class="container-fluid">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3>Available Products </h3><button class="btn btn-outline-primary rounded-circle" (click)="open(addItem)"><i
            class="fa fa-plus"></i></button>
      </div><br>
      <div class="row">
        <div class="col-sm-3" *ngFor="let t of products">
          <div class="card mb-4">
            <ngx-spinner bdColor="rgba(255,254,254,0.67)" size="default" color="#1a2271" type="ball-clip-rotate"
              [fullScreen]="false">
            </ngx-spinner>
            <img class="card-img-top" src="https://source.unsplash.com/300x300/?fruit" alt="{{ t.title }}">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p *ngIf="t.title; else Other" class="card-title">{{ t.title | slice:0:6 || 124 }}</p>
                <ng-template #Other>
                  <p>N/A</p>
                </ng-template>
                <p *ngIf="t.price; else Other" class="card-text">{{ t.price | currency | slice:0:5 || 25}}</p>
              </div>
              <small *ngIf="t.createdAt; else na">Added at {{t.createdAt * 1000 | date:'short'}}</small>
              <ng-template #na>
                <small>Added at N/A</small>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="stockOut" *ngIf="products === []">Out of stock, Please try later.</div>
      </div>
    </div>
  </div>
</div>

<ng-template #addItem let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-additem">Add Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="pdtForm">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" value="" minlength="2" maxlength="4" placeholder="Enter ID"
          formControlName="id" required />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" value="" placeholder="Enter title name"
          formControlName="title" required />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="password" value="" minlength="2" maxlength="4" placeholder="0.00"
          formControlName="price" required />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" value="fruit" placeholder="category"
          formControlName="category" required />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="modal.close()">Save</button>
  </div>
</ng-template>