<div class="content" role="main">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h3><a routerLink="/products/home"> <i class="fa fa-arrow-left" aria-hidden="true"></i></a> </h3><button
        class="btn btn-primary" (click)="open(addItem)">Add Item</button>
    </div>
    <div class="card-body">
      <h3>Available Products</h3>
      <hr>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th>Hash ID</th>
              <th>Price</th>
              <th>Category</th>
              <th>Image</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-nowrap" *ngFor="let t of products">
              <td>{{t.id}}</td>
              <td>{{t.key}}</td>
              <td>{{t.price}}</td>
              <td>{{t.category}}</td>
              <td>{{t.imageUrl}}</td>
              <td>{{t.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #addItem let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-additem">Add Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="pdtForm">
      <div class="form-group">
        <label for="key">Key</label>
        <input type="number" class="form-control" id="key" value="" placeholder="key" formControlName="key" required />
      </div>
      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" value="" placeholder="ID" formControlName="id" required />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" value="" placeholder="title" formControlName="title"
          required />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="password" value="" placeholder="0.00" formControlName="price"
          required />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" value="" placeholder="category" formControlName="category"
          required />
      </div>
      <div class="form-group">
        <label for="url">Image Url</label>
        <input type="text" class="form-control" id="url" value="" placeholder="Image url" formControlName="imageUrl"
          required />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
  </div>
</ng-template>