/* You can add global styles to this file, and also import other style files */
@import "./assets/icon/font-awesome/css/font-awesome.min.css";
@import "./assets/icon/themify-icons/themify-icons.css";
@import "~ngx-toastr/toastr";

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
.toast-success,
.toast-error,
.toast-info,
.toast-warning {
  background-color: #fff;
  background-image: none;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 15px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #666666;
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  margin-top: 30px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
